<% @page_title = "報告詳細" %>

<div class="container">

<div class="main-title">
  <div class="fas fa-user size"><%= @page_title %></div>
</div>

<%= render "body", report: @report, request: @request %>


</div>