// Place all the styles related to the member/reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#time {
    margin: 0 auto;
    background-color: Menu;
	width: 100%;
}

.now-time {
    margin: 0 auto;
    background-color: InfoBackground;
	width: 60%;
}

//-------------------------------------------------------↑time--//
//--------------------------------------------------------↓image--//

.img_field {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
}
