/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

a {
  color:#000;
  text-decoration:none;
}

//--------------------------------------------------------↓header--//

header {
  background-color: Menu;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
}

.nav-list {
  background-color: Menu;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.link {
	list-style: none;
	color: white;
	font-family: 'M PLUS 1p', sans-serif;
}

//-------------------------------------------------------↑header--//
//--------------------------------------------------------↓main--//

main {
  height: auto;
  margin: 0 auto;
  padding-top: 150px;
  width: 100%;
}


.size {
  font-size:2em;
}

.main-title {
  margin: 30px auto;
  border-bottom: 1px solid gray;
  list-style: none;
  display: flex;
}

.notice {
  color: #008000;
}

//-------------------------------------------------------↑main--//
//--------------------------------------------------------↓footer--//


footer {
	background-color: #FFFFFF;
	width: 100%;
  margin: 30px auto;
	text-align: center;
}

.footer-container {
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
}

//-------------------------------------------------------↑footer--//
//--------------------------------------------------------↓form,submit size--//


input[type="email"] {
  width: 300px;
  height: 40px;
}

input[type="text"] {
  width: 300px;
  height: 40px;
}

input[type="password"] {
  width: 300px;
  height: 40px;
}

input[type="submit"] {
  width: 300px;
  height: 40px;
}

//-------------------------------------------------------↑form,submit size--//
//--------------------------------------------------------↓select size--//

select::-ms-expand {
  display: none;
}
select {
  width: 200px;
  height: 40px;
  background-color: #F5F5F5;
}

//-------------------------------------------------------↑select size--//
//--------------------------------------------------------↓responsive--//

@media screen and (max-width:768px) {

  .nav-list {
    width: 100%;
  }
  .nav-list-item {
    width: 100%;
    margin: 0 0 10px 0;
  }

  main {
  padding-top: 300px;
  width: 100%;
  }

  #feature {
    padding: 0 5%;
    background-size: cover;
    background-position: center;
  }

  .strength-group {
    width: 320px;
  }

  .strength {
    float: none;
    margin-top: 10px;
  }

  .strength:first-child{
    margin-top: 0;
  }

  footer {
  width: 100%;
  }

  .footer-container {
  width: 100%;
  }

  input[type="email"] {
  width: 150px;
  }

  input[type="text"] {
    width: 150px;
  }

  input[type="password"] {
    width: 150px;
  }

  input[type="submit"] {
    width: 150px;
  }

}


