// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#message-form {
position: fixed;
bottom: 70px;
width: 60%;
}
